<nav data-ng-controller="menu as vm">
    <h3>MENU</h3>
    <ul class="nav">
        <li class="nav-animation" data-ng-class="vm.isCurrent(r)"
            data-ng-repeat="r in vm.navRoutes">
            <a href="{{r.urlPath}}" data-ng-bind-html="r.config.settings.content"></a>
        </li>
    </ul>

    <ul>
        <li ng-repeat="category in vm.categories">
            <a href="categories/{{category.slug}}" ng-bind-html="category.name"></a>
            <div ng-bind-html="post.excerpt"></div>
        </li>
    </ul>
</nav>